ALTER USER 'root'@'localhost'
	IDENTIFIED BY '${MYSQL_ROOT_PASSWORD_SQL}';

CREATE DATABASE IF NOT EXISTS `${MYSQL_DATABASE}`
	CHARACTER SET utf8mb4
	COLLATE utf8mb4_unicode_ci;

CREATE USER IF NOT EXISTS '${MYSQL_USER}'@'%'
	IDENTIFIED BY '${MYSQL_PASSWORD_SQL}';

ALTER USER '${MYSQL_USER}'@'%'
	IDENTIFIED BY '${MYSQL_PASSWORD_SQL}';

GRANT ALL PRIVILEGES
	ON `${MYSQL_DATABASE}`.*
	TO '${MYSQL_USER}'@'%';

SHUTDOWN;
